<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/logs.log</file>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.homework.user_service" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>